<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Thymeleaf Blogposts</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>

    <body>
        <h1>Blogposts</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Author</th>
                <th>Title</th>
                <th>Content</th>
            </tr>
            <tr th:each="blogpost: ${blogposts}">
                <td th:text="${blogpost.id}" />
                <td th:text="${blogpost.author}" />
                <td th:text="${blogpost.title}" />
                <td th:text="${blogpost.content}" />
            </tr>
        </table>
    </body>

</html>